/* line 7, ../sass/angular-components.scss */
.mat-elevation-z0 {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

/* line 11, ../sass/angular-components.scss */
.mat-elevation-z1 {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

/* line 15, ../sass/angular-components.scss */
.mat-elevation-z2 {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* line 19, ../sass/angular-components.scss */
.mat-elevation-z3 {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

/* line 23, ../sass/angular-components.scss */
.mat-elevation-z4 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

/* line 27, ../sass/angular-components.scss */
.mat-elevation-z5 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
}

/* line 31, ../sass/angular-components.scss */
.mat-elevation-z6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

/* line 35, ../sass/angular-components.scss */
.mat-elevation-z7 {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
}

/* line 39, ../sass/angular-components.scss */
.mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* line 43, ../sass/angular-components.scss */
.mat-elevation-z9 {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2), 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12);
}

/* line 47, ../sass/angular-components.scss */
.mat-elevation-z10 {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12);
}

/* line 51, ../sass/angular-components.scss */
.mat-elevation-z11 {
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2), 0 11px 15px 1px rgba(0, 0, 0, 0.14), 0 4px 20px 3px rgba(0, 0, 0, 0.12);
}

/* line 55, ../sass/angular-components.scss */
.mat-elevation-z12 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
}

/* line 59, ../sass/angular-components.scss */
.mat-elevation-z13 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

/* line 63, ../sass/angular-components.scss */
.mat-elevation-z14 {
  box-shadow: 0 7px 9px -4px rgba(0, 0, 0, 0.2), 0 14px 21px 2px rgba(0, 0, 0, 0.14), 0 5px 26px 4px rgba(0, 0, 0, 0.12);
}

/* line 67, ../sass/angular-components.scss */
.mat-elevation-z15 {
  box-shadow: 0 8px 9px -5px rgba(0, 0, 0, 0.2), 0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12);
}

/* line 71, ../sass/angular-components.scss */
.mat-elevation-z16 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
}

/* line 75, ../sass/angular-components.scss */
.mat-elevation-z17 {
  box-shadow: 0 8px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12);
}

/* line 79, ../sass/angular-components.scss */
.mat-elevation-z18 {
  box-shadow: 0 9px 11px -5px rgba(0, 0, 0, 0.2), 0 18px 28px 2px rgba(0, 0, 0, 0.14), 0 7px 34px 6px rgba(0, 0, 0, 0.12);
}

/* line 83, ../sass/angular-components.scss */
.mat-elevation-z19 {
  box-shadow: 0 9px 12px -6px rgba(0, 0, 0, 0.2), 0 19px 29px 2px rgba(0, 0, 0, 0.14), 0 7px 36px 6px rgba(0, 0, 0, 0.12);
}

/* line 87, ../sass/angular-components.scss */
.mat-elevation-z20 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12);
}

/* line 91, ../sass/angular-components.scss */
.mat-elevation-z21 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 21px 33px 3px rgba(0, 0, 0, 0.14), 0 8px 40px 7px rgba(0, 0, 0, 0.12);
}

/* line 95, ../sass/angular-components.scss */
.mat-elevation-z22 {
  box-shadow: 0 10px 14px -6px rgba(0, 0, 0, 0.2), 0 22px 35px 3px rgba(0, 0, 0, 0.14), 0 8px 42px 7px rgba(0, 0, 0, 0.12);
}

/* line 99, ../sass/angular-components.scss */
.mat-elevation-z23 {
  box-shadow: 0 11px 14px -7px rgba(0, 0, 0, 0.2), 0 23px 36px 3px rgba(0, 0, 0, 0.14), 0 9px 44px 8px rgba(0, 0, 0, 0.12);
}

/* line 103, ../sass/angular-components.scss */
.mat-elevation-z24 {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

/* line 107, ../sass/angular-components.scss */
.mat-h1,
.mat-headline,
.mat-typography h1 {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 16px;
}

/* line 114, ../sass/angular-components.scss */
.mat-h2,
.mat-title,
.mat-typography h2 {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 16px;
}

/* line 121, ../sass/angular-components.scss */
.mat-h3,
.mat-subheading-2,
.mat-typography h3 {
  font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 16px;
}

/* line 128, ../sass/angular-components.scss */
.mat-h4,
.mat-subheading-1,
.mat-typography h4 {
  font: 400 15px/24px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 16px;
}

/* line 135, ../sass/angular-components.scss */
.mat-h5,
.mat-typography h5 {
  font-size: 11.62px;
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 20px;
  margin: 0 0 12px;
}

/* line 144, ../sass/angular-components.scss */
.mat-h6,
.mat-typography h6 {
  font-size: 9.38px;
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 20px;
  margin: 0 0 12px;
}

/* line 153, ../sass/angular-components.scss */
.mat-body-2,
.mat-body-strong {
  font: 500 14px/24px Roboto, "Helvetica Neue", sans-serif;
}

/* line 158, ../sass/angular-components.scss */
.mat-body,
.mat-body-1,
.mat-typography {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

/* line 164, ../sass/angular-components.scss */
.mat-body p,
.mat-body-1 p,
.mat-typography p {
  margin: 0 0 12px;
}

/* line 170, ../sass/angular-components.scss */
.mat-caption,
.mat-small {
  font: 400 12px/20px Roboto, "Helvetica Neue", sans-serif;
}

/* line 175, ../sass/angular-components.scss */
.mat-display-4,
.mat-typography .mat-display-4 {
  font: 300 112px/112px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 56px;
  letter-spacing: -0.05em;
}

/* line 182, ../sass/angular-components.scss */
.mat-display-3,
.mat-typography .mat-display-3 {
  font: 400 56px/56px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 64px;
  letter-spacing: -0.02em;
}

/* line 189, ../sass/angular-components.scss */
.mat-display-2,
.mat-typography .mat-display-2 {
  font: 400 45px/48px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 64px;
  letter-spacing: -0.005em;
}

/* line 196, ../sass/angular-components.scss */
.mat-display-1,
.mat-typography .mat-display-1 {
  font: 400 34px/40px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 64px;
}

/* line 202, ../sass/angular-components.scss */
.mat-button,
.mat-icon-button,
.mat-raised-button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

/* line 210, ../sass/angular-components.scss */
.mat-button-toggle {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* line 214, ../sass/angular-components.scss */
.mat-card {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* line 218, ../sass/angular-components.scss */
.mat-card-title {
  font-size: 24px;
  font-weight: 400;
}

/* line 223, ../sass/angular-components.scss */
.mat-card-content,
.mat-card-header .mat-card-title,
.mat-card-subtitle {
  font-size: 14px;
}

/* line 229, ../sass/angular-components.scss */
.mat-checkbox {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* line 233, ../sass/angular-components.scss */
.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
}

/* line 237, ../sass/angular-components.scss */
.mat-chip:not(.mat-basic-chip) {
  font-size: 13px;
  line-height: 16px;
}

/* line 242, ../sass/angular-components.scss */
.mat-calendar {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* line 246, ../sass/angular-components.scss */
.mat-calendar-body {
  font-size: 13px;
}

/* line 250, ../sass/angular-components.scss */
.mat-calendar-body-label,
.mat-calendar-period-button {
  font-size: 14px;
  font-weight: 500;
}

/* line 256, ../sass/angular-components.scss */
.mat-calendar-table-header th {
  font-size: 11px;
  font-weight: 400;
}

/* line 261, ../sass/angular-components.scss */
.mat-dialog-title {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

/* line 265, ../sass/angular-components.scss */
.mat-grid-tile-footer,
.mat-grid-tile-header {
  font-size: 14px;
}

/* line 270, ../sass/angular-components.scss */
.mat-grid-tile-footer .mat-line,
.mat-grid-tile-header .mat-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

/* line 279, ../sass/angular-components.scss */
.mat-grid-tile-footer .mat-line:nth-child(n+2),
.mat-grid-tile-header .mat-line:nth-child(n+2) {
  font-size: 12px;
}

/* line 284, ../sass/angular-components.scss */
.mat-input-container {
  font: 400 inherit/1.125 Roboto, "Helvetica Neue", sans-serif;
}

/* line 288, ../sass/angular-components.scss */
.mat-input-wrapper {
  padding-bottom: 1.29688em;
}

/* line 292, ../sass/angular-components.scss */
.mat-input-prefix .mat-datepicker-toggle,
.mat-input-prefix .mat-icon,
.mat-input-suffix .mat-datepicker-toggle,
.mat-input-suffix .mat-icon {
  font-size: 150%;
}

/* line 299, ../sass/angular-components.scss */
.mat-input-prefix .mat-icon-button,
.mat-input-suffix .mat-icon-button {
  height: 1.5em;
  width: 1.5em;
}

/* line 305, ../sass/angular-components.scss */
.mat-input-prefix .mat-icon-button .mat-icon,
.mat-input-suffix .mat-icon-button .mat-icon {
  line-height: 1.5;
}

/* line 310, ../sass/angular-components.scss */
.mat-input-infix {
  padding: .4375em 0;
  border-top: 0.84375em solid transparent;
}

/* line 315, ../sass/angular-components.scss */
.mat-input-element:-webkit-autofill + .mat-input-placeholder-wrapper .mat-float {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px);
  -ms-transform: translateY(-1.28125em) scale(0.75);
  width: 133.33333%;
}

/* line 321, ../sass/angular-components.scss */
.mat-input-placeholder-wrapper {
  top: -.84375em;
  padding-top: 0.84375em;
}

/* line 326, ../sass/angular-components.scss */
.mat-input-placeholder {
  top: 1.28125em;
}

/* line 330, ../sass/angular-components.scss */
.mat-focused .mat-input-placeholder.mat-float,
.mat-input-placeholder.mat-float:not(.mat-empty) {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px);
  -ms-transform: translateY(-1.28125em) scale(0.75);
  width: 133.33333%;
}

/* line 337, ../sass/angular-components.scss */
.mat-input-underline {
  bottom: 1.29688em;
}

/* line 341, ../sass/angular-components.scss */
.mat-input-subscript-wrapper {
  font-size: 75%;
  margin-top: .60417em;
  top: calc(100% - 1.72917em);
}

/* line 347, ../sass/angular-components.scss */
.mat-menu-item {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

/* line 352, ../sass/angular-components.scss */
.mat-radio-button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* line 356, ../sass/angular-components.scss */
.mat-select {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* line 360, ../sass/angular-components.scss */
.mat-select-trigger {
  font-size: 16px;
}

/* line 364, ../sass/angular-components.scss */
.mat-slide-toggle-content {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

/* line 368, ../sass/angular-components.scss */
.mat-slider-thumb-label-text {
  font-size: 12px;
  font-weight: 500;
}

/* line 373, ../sass/angular-components.scss */
.mat-tab-group {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* line 377, ../sass/angular-components.scss */
.mat-tab-label,
.mat-tab-link {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

/* line 384, ../sass/angular-components.scss */
.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

/* line 395, ../sass/angular-components.scss */
.mat-tooltip {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* line 402, ../sass/angular-components.scss */
.mat-list-item {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* line 406, ../sass/angular-components.scss */
.mat-list .mat-list-item,
.mat-nav-list .mat-list-item {
  font-size: 16px;
}

/* line 411, ../sass/angular-components.scss */
.mat-list .mat-list-item .mat-line,
.mat-nav-list .mat-list-item .mat-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

/* line 420, ../sass/angular-components.scss */
.mat-list .mat-list-item .mat-line:nth-child(n+2),
.mat-nav-list .mat-list-item .mat-line:nth-child(n+2) {
  font-size: 14px;
}

/* line 425, ../sass/angular-components.scss */
.mat-list .mat-subheader,
.mat-nav-list .mat-subheader {
  font: 500 14px/24px Roboto, "Helvetica Neue", sans-serif;
}

/* line 430, ../sass/angular-components.scss */
.mat-list[dense] .mat-list-item,
.mat-nav-list[dense] .mat-list-item {
  font-size: 12px;
}

/* line 435, ../sass/angular-components.scss */
.mat-list[dense] .mat-list-item .mat-line,
.mat-nav-list[dense] .mat-list-item .mat-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

/* line 444, ../sass/angular-components.scss */
.mat-list[dense] .mat-list-item .mat-line:nth-child(n+2),
.mat-nav-list[dense] .mat-list-item .mat-line:nth-child(n+2) {
  font-size: 12px;
}

/* line 449, ../sass/angular-components.scss */
.mat-list[dense] .mat-subheader,
.mat-nav-list[dense] .mat-subheader {
  font: 500 12px Roboto, "Helvetica Neue", sans-serif;
}

/* line 454, ../sass/angular-components.scss */
.mat-option {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

/* line 459, ../sass/angular-components.scss */
.mat-simple-snackbar {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

/* line 464, ../sass/angular-components.scss */
.mat-simple-snackbar-action {
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
}

/* line 471, ../sass/angular-components.scss */
.mat-ripple {
  overflow: hidden;
}

/* line 475, ../sass/angular-components.scss */
.mat-ripple.mat-ripple-unbounded {
  overflow: visible;
}

/* line 479, ../sass/angular-components.scss */
.mat-ripple-element {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity, transform 0s cubic-bezier(0, 0, 0.2, 1);
  transform: scale(0);
}

/* line 487, ../sass/angular-components.scss */
.mat-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  outline: 0;
}
@media screen and (max-width: 1015px) {
  /* line 487, ../sass/angular-components.scss */
  .mat-option {
    font-size: 15px !important;
  }
}

/* line 505, ../sass/angular-components.scss */
.mat-option[disabled] {
  cursor: default;
}

/* line 509, ../sass/angular-components.scss */
[dir=rtl] .mat-option {
  text-align: right;
}

/* line 513, ../sass/angular-components.scss */
.mat-option .mat-icon {
  margin-right: 16px;
}

/* line 517, ../sass/angular-components.scss */
[dir=rtl] .mat-option .mat-icon {
  margin-left: 16px;
  margin-right: 0;
}

/* line 522, ../sass/angular-components.scss */
.mat-option[aria-disabled=true] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* line 530, ../sass/angular-components.scss */
.mat-optgroup .mat-option:not(.mat-option-multiple) {
  padding-left: 32px;
}

/* line 534, ../sass/angular-components.scss */
[dir=rtl] .mat-optgroup .mat-option:not(.mat-option-multiple) {
  padding-left: 16px;
  padding-right: 32px;
}

/* line 539, ../sass/angular-components.scss */
.mat-option-ripple {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

@media screen and (-ms-high-contrast: active) {
  /* line 549, ../sass/angular-components.scss */
  .mat-option-ripple {
    opacity: 0.5;
  }
}
/* line 554, ../sass/angular-components.scss */
.mat-option-pseudo-checkbox {
  margin-right: 8px;
}

/* line 558, ../sass/angular-components.scss */
[dir=rtl] .mat-option-pseudo-checkbox {
  margin-left: 8px;
  margin-right: 0;
}

/* line 563, ../sass/angular-components.scss */
.mat-optgroup-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-weight: 700;
  font-size: 14px;
}

/* line 582, ../sass/angular-components.scss */
.mat-optgroup-label[disabled] {
  cursor: default;
}

/* line 586, ../sass/angular-components.scss */
[dir=rtl] .mat-optgroup-label {
  text-align: right;
}

/* line 590, ../sass/angular-components.scss */
.mat-optgroup-label .mat-icon {
  margin-right: 16px;
}

/* line 594, ../sass/angular-components.scss */
[dir=rtl] .mat-optgroup-label .mat-icon {
  margin-left: 16px;
  margin-right: 0;
}

/* line 599, ../sass/angular-components.scss */
.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: none;
  width: 1px;
}

/* line 611, ../sass/angular-components.scss */
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 620, ../sass/angular-components.scss */
.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

/* line 625, ../sass/angular-components.scss */
.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}

/* line 631, ../sass/angular-components.scss */
.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
}

/* line 638, ../sass/angular-components.scss */
.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

/* line 650, ../sass/angular-components.scss */
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.48;
}

/* line 654, ../sass/angular-components.scss */
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.6);
}

/* line 658, ../sass/angular-components.scss */
.cdk-overlay-transparent-backdrop {
  background: 0 0;
}

/* line 662, ../sass/angular-components.scss */
.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

/* line 668, ../sass/angular-components.scss */
.mat-ripple-element {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 672, ../sass/angular-components.scss */
.mat-option {
  color: rgba(0, 0, 0, 0.87);
}

/* line 676, ../sass/angular-components.scss */
.mat-option:focus:not(.mat-option-disabled),
.mat-option:hover:not(.mat-option-disabled) {
  background: rgba(0, 0, 0, 0.04);
}

/* line 681, ../sass/angular-components.scss */
.mat-option.mat-selected.mat-primary,
.mat-primary .mat-option.mat-selected {
  color: #3f51b5;
}

/* line 686, ../sass/angular-components.scss */
.mat-accent .mat-option.mat-selected,
.mat-option.mat-selected.mat-accent {
  color: #ff4081;
}

/* line 691, ../sass/angular-components.scss */
.mat-option.mat-selected.mat-warn,
.mat-warn .mat-option.mat-selected {
  color: #f44336;
}

/* line 696, ../sass/angular-components.scss */
.mat-option.mat-selected:not(.mat-option-multiple) {
  background: rgba(0, 0, 0, 0.04);
}

/* line 700, ../sass/angular-components.scss */
.mat-option.mat-active {
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.87);
}

/* line 705, ../sass/angular-components.scss */
.mat-option.mat-option-disabled {
  color: rgba(0, 0, 0, 0.38);
}

/* line 709, ../sass/angular-components.scss */
.mat-optgroup-label {
  color: rgba(0, 0, 0, 0.54);
}

/* line 713, ../sass/angular-components.scss */
.mat-optgroup-disabled .mat-optgroup-label {
  color: rgba(0, 0, 0, 0.38);
}

/* line 717, ../sass/angular-components.scss */
.mat-pseudo-checkbox {
  color: rgba(0, 0, 0, 0.54);
}

/* line 721, ../sass/angular-components.scss */
.mat-pseudo-checkbox::after {
  color: #fafafa;
}

/* line 725, ../sass/angular-components.scss */
.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked.mat-primary,
.mat-pseudo-checkbox-indeterminate.mat-primary {
  background: #3f51b5;
}

/* line 732, ../sass/angular-components.scss */
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked.mat-accent,
.mat-pseudo-checkbox-indeterminate.mat-accent {
  background: #ff4081;
}

/* line 739, ../sass/angular-components.scss */
.mat-pseudo-checkbox-checked.mat-warn,
.mat-pseudo-checkbox-indeterminate.mat-warn,
.mat-warn .mat-pseudo-checkbox-checked,
.mat-warn .mat-pseudo-checkbox-indeterminate {
  background: #f44336;
}

/* line 746, ../sass/angular-components.scss */
.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-disabled,
.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-disabled {
  background: #b0b0b0;
}

/* line 751, ../sass/angular-components.scss */
.mat-app-background {
  background-color: #fafafa;
}

/* line 755, ../sass/angular-components.scss */
.mat-theme-loaded-marker {
  display: none;
}

/* line 759, ../sass/angular-components.scss */
.mat-autocomplete-panel {
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
}

/* line 764, ../sass/angular-components.scss */
.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
}

/* line 769, ../sass/angular-components.scss */
.mat-button,
.mat-icon-button {
  background: 0 0;
}

/* line 774, ../sass/angular-components.scss */
.mat-button.mat-primary .mat-button-focus-overlay,
.mat-icon-button.mat-primary .mat-button-focus-overlay {
  background-color: rgba(63, 81, 181, 0.12);
}

/* line 779, ../sass/angular-components.scss */
.mat-button.mat-accent .mat-button-focus-overlay,
.mat-icon-button.mat-accent .mat-button-focus-overlay {
  background-color: rgba(255, 64, 129, 0.12);
}

/* line 784, ../sass/angular-components.scss */
.mat-button.mat-warn .mat-button-focus-overlay,
.mat-icon-button.mat-warn .mat-button-focus-overlay {
  background-color: rgba(244, 67, 54, 0.12);
}

/* line 789, ../sass/angular-components.scss */
.mat-button[disabled] .mat-button-focus-overlay,
.mat-icon-button[disabled] .mat-button-focus-overlay {
  background-color: transparent;
}

/* line 794, ../sass/angular-components.scss */
.mat-button.mat-primary,
.mat-icon-button.mat-primary {
  color: #3f51b5;
}

/* line 799, ../sass/angular-components.scss */
.mat-button.mat-accent,
.mat-icon-button.mat-accent {
  color: #ff4081;
}

/* line 804, ../sass/angular-components.scss */
.mat-button.mat-warn,
.mat-icon-button.mat-warn {
  color: #f44336;
}

/* line 809, ../sass/angular-components.scss */
.mat-button.mat-accent[disabled],
.mat-button.mat-primary[disabled],
.mat-button.mat-warn[disabled],
.mat-button[disabled][disabled],
.mat-icon-button.mat-accent[disabled],
.mat-icon-button.mat-primary[disabled],
.mat-icon-button.mat-warn[disabled],
.mat-icon-button[disabled][disabled] {
  color: rgba(0, 0, 0, 0.38);
}

/* line 820, ../sass/angular-components.scss */
.mat-fab,
.mat-mini-fab,
.mat-raised-button {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
}

/* line 827, ../sass/angular-components.scss */
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  color: rgba(255, 255, 255, 0.87);
}

/* line 833, ../sass/angular-components.scss */
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
  color: #fff;
}

/* line 839, ../sass/angular-components.scss */
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn,
.mat-raised-button.mat-warn {
  color: #fff;
}

/* line 845, ../sass/angular-components.scss */
.mat-fab.mat-accent[disabled],
.mat-fab.mat-primary[disabled],
.mat-fab.mat-warn[disabled],
.mat-fab[disabled][disabled],
.mat-mini-fab.mat-accent[disabled],
.mat-mini-fab.mat-primary[disabled],
.mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled][disabled],
.mat-raised-button.mat-accent[disabled],
.mat-raised-button.mat-primary[disabled],
.mat-raised-button.mat-warn[disabled],
.mat-raised-button[disabled][disabled] {
  color: rgba(0, 0, 0, 0.38);
}

/* line 860, ../sass/angular-components.scss */
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #3f51b5;
}

/* line 866, ../sass/angular-components.scss */
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
  background-color: #ff4081;
}

/* line 872, ../sass/angular-components.scss */
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn,
.mat-raised-button.mat-warn {
  background-color: #f44336;
}

/* line 878, ../sass/angular-components.scss */
.mat-fab.mat-accent[disabled],
.mat-fab.mat-primary[disabled],
.mat-fab.mat-warn[disabled],
.mat-fab[disabled][disabled],
.mat-mini-fab.mat-accent[disabled],
.mat-mini-fab.mat-primary[disabled],
.mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled][disabled],
.mat-raised-button.mat-accent[disabled],
.mat-raised-button.mat-primary[disabled],
.mat-raised-button.mat-warn[disabled],
.mat-raised-button[disabled][disabled] {
  background-color: rgba(0, 0, 0, 0.12);
}

/* line 893, ../sass/angular-components.scss */
.mat-fab.mat-primary .mat-ripple-element,
.mat-mini-fab.mat-primary .mat-ripple-element,
.mat-raised-button.mat-primary .mat-ripple-element {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 899, ../sass/angular-components.scss */
.mat-fab.mat-accent .mat-ripple-element,
.mat-mini-fab.mat-accent .mat-ripple-element,
.mat-raised-button.mat-accent .mat-ripple-element {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 905, ../sass/angular-components.scss */
.mat-fab.mat-warn .mat-ripple-element,
.mat-mini-fab.mat-warn .mat-ripple-element,
.mat-raised-button.mat-warn .mat-ripple-element {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 911, ../sass/angular-components.scss */
.mat-button.mat-primary .mat-ripple-element {
  background-color: rgba(63, 81, 181, 0.1);
}

/* line 915, ../sass/angular-components.scss */
.mat-button.mat-accent .mat-ripple-element {
  background-color: rgba(255, 64, 129, 0.1);
}

/* line 919, ../sass/angular-components.scss */
.mat-button.mat-warn .mat-ripple-element {
  background-color: rgba(244, 67, 54, 0.1);
}

/* line 923, ../sass/angular-components.scss */
.mat-icon-button.mat-primary .mat-ripple-element {
  background-color: rgba(63, 81, 181, 0.2);
}

/* line 927, ../sass/angular-components.scss */
.mat-icon-button.mat-accent .mat-ripple-element {
  background-color: rgba(255, 64, 129, 0.2);
}

/* line 931, ../sass/angular-components.scss */
.mat-icon-button.mat-warn .mat-ripple-element {
  background-color: rgba(244, 67, 54, 0.2);
}

/* line 935, ../sass/angular-components.scss */
.mat-button-toggle {
  color: rgba(0, 0, 0, 0.38);
}

/* line 939, ../sass/angular-components.scss */
.mat-button-toggle.cdk-focused .mat-button-toggle-focus-overlay {
  background-color: rgba(0, 0, 0, 0.06);
}

/* line 943, ../sass/angular-components.scss */
.mat-button-toggle-checked {
  background-color: #e0e0e0;
  color: #000;
}

/* line 948, ../sass/angular-components.scss */
.mat-button-toggle-disabled {
  background-color: #eee;
  color: rgba(0, 0, 0, 0.38);
}

/* line 953, ../sass/angular-components.scss */
.mat-button-toggle-disabled.mat-button-toggle-checked {
  background-color: #bdbdbd;
}

/* line 957, ../sass/angular-components.scss */
.mat-card {
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
}

/* line 962, ../sass/angular-components.scss */
.mat-card-subtitle {
  color: rgba(0, 0, 0, 0.54);
}

/* line 966, ../sass/angular-components.scss */
.mat-checkbox-frame {
  border-color: rgba(0, 0, 0, 0.54);
}

/* line 970, ../sass/angular-components.scss */
.mat-checkbox-checkmark {
  fill: #fafafa;
}

/* line 974, ../sass/angular-components.scss */
.mat-checkbox-checkmark-path {
  stroke: #fafafa !important;
}

/* line 978, ../sass/angular-components.scss */
.mat-checkbox-mixedmark {
  background-color: #fafafa;
}

/* line 982, ../sass/angular-components.scss */
.mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: #3f51b5;
}

/* line 987, ../sass/angular-components.scss */
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #ff4081;
}

/* line 992, ../sass/angular-components.scss */
.mat-checkbox-checked.mat-warn .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-warn .mat-checkbox-background {
  background-color: #f44336;
}

/* line 997, ../sass/angular-components.scss */
.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #b0b0b0;
}

/* line 1002, ../sass/angular-components.scss */
.mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
  border-color: #b0b0b0;
}

/* line 1006, ../sass/angular-components.scss */
.mat-checkbox-disabled .mat-checkbox-label {
  color: #b0b0b0;
}

/* line 1010, ../sass/angular-components.scss */
.mat-checkbox:not(.mat-checkbox-disabled).mat-primary .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(63, 81, 181, 0.26);
}

/* line 1014, ../sass/angular-components.scss */
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(255, 64, 129, 0.26);
}

/* line 1018, ../sass/angular-components.scss */
.mat-checkbox:not(.mat-checkbox-disabled).mat-warn .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(244, 67, 54, 0.26);
}

/* line 1022, ../sass/angular-components.scss */
.mat-chip:not(.mat-basic-chip) {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
}

/* line 1027, ../sass/angular-components.scss */
.mat-chip.mat-chip-selected:not(.mat-basic-chip) {
  background-color: grey;
  color: rgba(255, 255, 255, 0.87);
}

/* line 1032, ../sass/angular-components.scss */
.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-primary {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, 0.87);
}

/* line 1037, ../sass/angular-components.scss */
.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-accent {
  background-color: #ff4081;
  color: #fff;
}

/* line 1042, ../sass/angular-components.scss */
.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-warn {
  background-color: #f44336;
  color: #fff;
}

/* line 1047, ../sass/angular-components.scss */
.mat-datepicker-content {
  background-color: #fff;
}

/* line 1051, ../sass/angular-components.scss */
.mat-calendar-arrow {
  border-top-color: rgba(0, 0, 0, 0.54);
}

/* line 1055, ../sass/angular-components.scss */
.mat-calendar-next-button,
.mat-calendar-previous-button {
  color: rgba(0, 0, 0, 0.54);
}

/* line 1060, ../sass/angular-components.scss */
.mat-calendar-table-header {
  color: rgba(0, 0, 0, 0.38);
}

/* line 1064, ../sass/angular-components.scss */
.mat-calendar-table-header-divider::after {
  background: rgba(0, 0, 0, 0.12);
}

/* line 1068, ../sass/angular-components.scss */
.mat-calendar-body-label {
  color: rgba(0, 0, 0, 0.54);
}

/* line 1072, ../sass/angular-components.scss */
.mat-calendar-body-cell-content {
  color: rgba(0, 0, 0, 0.87);
  border-color: transparent;
}

/* line 1077, ../sass/angular-components.scss */
.mat-calendar-body-disabled > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  color: rgba(0, 0, 0, 0.38);
}

/* line 1081, ../sass/angular-components.scss */
.cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: rgba(0, 0, 0, 0.04);
}

/* line 1086, ../sass/angular-components.scss */
.mat-calendar-body-selected {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, 0.87);
}

/* line 1091, ../sass/angular-components.scss */
.mat-calendar-body-disabled > .mat-calendar-body-selected {
  background-color: rgba(63, 81, 181, 0.4);
}

/* line 1095, ../sass/angular-components.scss */
.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: rgba(0, 0, 0, 0.38);
}

/* line 1099, ../sass/angular-components.scss */
.mat-calendar-body-today.mat-calendar-body-selected {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.87);
}

/* line 1103, ../sass/angular-components.scss */
.mat-calendar-body-disabled > .mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: rgba(0, 0, 0, 0.18);
}

/* line 1107, ../sass/angular-components.scss */
.mat-dialog-container {
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
}

/* line 1112, ../sass/angular-components.scss */
.mat-expansion-panel {
  background: #fff;
  color: #000;
}

/* line 1117, ../sass/angular-components.scss */
.mat-action-row {
  border-top-color: rgba(0, 0, 0, 0.12);
}

/* line 1121, ../sass/angular-components.scss */
.mat-expansion-panel-header:focus,
.mat-expansion-panel-header:hover {
  background: rgba(0, 0, 0, 0.04);
}

/* line 1126, ../sass/angular-components.scss */
.mat-expansion-panel-header-title {
  color: rgba(0, 0, 0, 0.87);
}

/* line 1130, ../sass/angular-components.scss */
.mat-expansion-panel-header-description {
  color: rgba(0, 0, 0, 0.54);
}

/* line 1134, ../sass/angular-components.scss */
.mat-expansion-indicator::after {
  color: rgba(0, 0, 0, 0.54);
}

/* line 1138, ../sass/angular-components.scss */
.mat-icon.mat-primary {
  color: #3f51b5;
}

/* line 1142, ../sass/angular-components.scss */
.mat-icon.mat-accent {
  color: #ff4081;
}

/* line 1146, ../sass/angular-components.scss */
.mat-icon.mat-warn {
  color: #f44336;
}

/* line 1150, ../sass/angular-components.scss */
.mat-input-placeholder {
  color: rgba(0, 0, 0, 0.38);
}

/* line 1154, ../sass/angular-components.scss */
.mat-focused .mat-input-placeholder {
  color: #3f51b5;
}

/* line 1158, ../sass/angular-components.scss */
.mat-focused .mat-input-placeholder.mat-accent {
  color: #ff4081;
}

/* line 1162, ../sass/angular-components.scss */
.mat-focused .mat-input-placeholder.mat-warn {
  color: #f44336;
}

/* line 1166, ../sass/angular-components.scss */
.mat-input-element:disabled {
  color: rgba(0, 0, 0, 0.38);
}

/* line 1170, ../sass/angular-components.scss */
.mat-focused .mat-input-placeholder.mat-float .mat-placeholder-required,
input.mat-input-element:-webkit-autofill + .mat-input-placeholder .mat-placeholder-required {
  color: #ff4081;
}

/* line 1175, ../sass/angular-components.scss */
.mat-input-underline {
  background-color: rgba(0, 0, 0, 0.12);
}

/* line 1179, ../sass/angular-components.scss */
.mat-input-ripple {
  background-color: #3f51b5;
}

/* line 1183, ../sass/angular-components.scss */
.mat-input-ripple.mat-accent {
  background-color: #ff4081;
}

/* line 1187, ../sass/angular-components.scss */
.mat-input-ripple.mat-warn {
  background-color: #f44336;
}

/* line 1191, ../sass/angular-components.scss */
.mat-input-invalid .mat-input-placeholder {
  color: #f44336;
}

/* line 1195, ../sass/angular-components.scss */
.mat-input-invalid .mat-input-placeholder.mat-accent,
.mat-input-invalid .mat-input-placeholder.mat-float .mat-placeholder-required {
  color: #f44336;
}

/* line 1200, ../sass/angular-components.scss */
.mat-input-invalid .mat-input-ripple {
  background-color: #f44336;
}

/* line 1204, ../sass/angular-components.scss */
.mat-input-error {
  color: #f44336;
}

/* line 1208, ../sass/angular-components.scss */
.mat-list .mat-list-item,
.mat-nav-list .mat-list-item {
  color: rgba(0, 0, 0, 0.87);
}

/* line 1213, ../sass/angular-components.scss */
.mat-list .mat-subheader,
.mat-nav-list .mat-subheader {
  color: rgba(0, 0, 0, 0.54);
}

/* line 1218, ../sass/angular-components.scss */
.mat-divider {
  border-top-color: rgba(0, 0, 0, 0.12);
}

/* line 1222, ../sass/angular-components.scss */
.mat-nav-list .mat-list-item {
  outline: 0;
}

/* line 1226, ../sass/angular-components.scss */
.mat-nav-list .mat-list-item.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover {
  background: rgba(0, 0, 0, 0.04);
}

/* line 1231, ../sass/angular-components.scss */
.mat-menu-content {
  background: #fff;
}

/* line 1235, ../sass/angular-components.scss */
.mat-menu-item {
  background: 0 0;
  color: rgba(0, 0, 0, 0.87);
}

/* line 1240, ../sass/angular-components.scss */
.mat-menu-item[disabled] {
  color: rgba(0, 0, 0, 0.38);
}

/* line 1244, ../sass/angular-components.scss */
.mat-menu-item .mat-icon {
  color: rgba(0, 0, 0, 0.54);
  vertical-align: middle;
}

/* line 1249, ../sass/angular-components.scss */
.mat-menu-item:focus:not([disabled]),
.mat-menu-item:hover:not([disabled]) {
  background: rgba(0, 0, 0, 0.04);
}

/* line 1254, ../sass/angular-components.scss */
.mat-progress-bar-background {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27%23c5cae9%27%2F%3E%3C%2Fsvg%3E");
}

/* line 1258, ../sass/angular-components.scss */
.mat-progress-bar-buffer {
  background-color: #c5cae9;
}

/* line 1262, ../sass/angular-components.scss */
.mat-progress-bar-fill::after {
  background-color: #3f51b5;
}

/* line 1266, ../sass/angular-components.scss */
.mat-progress-bar.mat-accent .mat-progress-bar-background {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27%23ff80ab%27%2F%3E%3C%2Fsvg%3E");
}

/* line 1270, ../sass/angular-components.scss */
.mat-progress-bar.mat-accent .mat-progress-bar-buffer {
  background-color: #ff80ab;
}

/* line 1274, ../sass/angular-components.scss */
.mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
  background-color: #ff4081;
}

/* line 1278, ../sass/angular-components.scss */
.mat-progress-bar.mat-warn .mat-progress-bar-background {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27%23ffcdd2%27%2F%3E%3C%2Fsvg%3E");
}

/* line 1282, ../sass/angular-components.scss */
.mat-progress-bar.mat-warn .mat-progress-bar-buffer {
  background-color: #ffcdd2;
}

/* line 1286, ../sass/angular-components.scss */
.mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
  background-color: #f44336;
}

/* line 1290, ../sass/angular-components.scss */
.mat-progress-spinner path,
.mat-spinner path {
  stroke: #3f51b5;
}

/* line 1295, ../sass/angular-components.scss */
.mat-progress-spinner.mat-accent path,
.mat-spinner.mat-accent path {
  stroke: #ff4081;
}

/* line 1300, ../sass/angular-components.scss */
.mat-progress-spinner.mat-warn path,
.mat-spinner.mat-warn path {
  stroke: #f44336;
}

/* line 1305, ../sass/angular-components.scss */
.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54);
}

/* line 1309, ../sass/angular-components.scss */
.mat-radio-disabled .mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.38);
}

/* line 1313, ../sass/angular-components.scss */
.mat-radio-inner-circle {
  background-color: #ff4081;
}

/* line 1317, ../sass/angular-components.scss */
.mat-radio-ripple .mat-ripple-element {
  background-color: rgba(255, 64, 129, 0.26);
}

/* line 1321, ../sass/angular-components.scss */
.mat-radio-disabled .mat-radio-inner-circle,
.mat-radio-disabled .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(0, 0, 0, 0.38);
}

/* line 1326, ../sass/angular-components.scss */
.mat-radio-disabled .mat-radio-label-content {
  color: rgba(0, 0, 0, 0.38);
}

/* line 1330, ../sass/angular-components.scss */
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: #3f51b5;
}

/* line 1334, ../sass/angular-components.scss */
.mat-radio-button.mat-primary .mat-radio-inner-circle {
  background-color: #3f51b5;
}

/* line 1338, ../sass/angular-components.scss */
.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(63, 81, 181, 0.26);
}

/* line 1342, ../sass/angular-components.scss */
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #ff4081;
}

/* line 1346, ../sass/angular-components.scss */
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #ff4081;
}

/* line 1350, ../sass/angular-components.scss */
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(255, 64, 129, 0.26);
}

/* line 1354, ../sass/angular-components.scss */
.mat-radio-button.mat-warn.mat-radio-checked .mat-radio-outer-circle {
  border-color: #f44336;
}

/* line 1358, ../sass/angular-components.scss */
.mat-radio-button.mat-warn .mat-radio-inner-circle {
  background-color: #f44336;
}

/* line 1362, ../sass/angular-components.scss */
.mat-radio-button.mat-warn .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(244, 67, 54, 0.26);
}

/* line 1366, ../sass/angular-components.scss */
.mat-select-arrow,
.mat-select-trigger {
  color: rgba(0, 0, 0, 0.38);
}

/* line 1371, ../sass/angular-components.scss */
.mat-select-underline {
  background-color: rgba(0, 0, 0, 0.12);
}

/* line 1375, ../sass/angular-components.scss */
.mat-select-arrow,
.mat-select-disabled .mat-select-value,
.mat-select-trigger {
  color: rgba(0, 0, 0, 0.38);
}

/* line 1381, ../sass/angular-components.scss */
.mat-select-content,
.mat-select-panel-done-animating {
  background: #fff;
}

/* line 1386, ../sass/angular-components.scss */
.mat-select-value {
  color: rgba(0, 0, 0, 0.87);
}

/* line 1390, ../sass/angular-components.scss */
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow,
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
  color: #3f51b5;
}

/* line 1395, ../sass/angular-components.scss */
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline {
  background-color: #3f51b5;
}

/* line 1399, ../sass/angular-components.scss */
.mat-select:focus:not(.mat-select-disabled).mat-accent .mat-select-arrow,
.mat-select:focus:not(.mat-select-disabled).mat-accent .mat-select-trigger {
  color: #ff4081;
}

/* line 1404, ../sass/angular-components.scss */
.mat-select:focus:not(.mat-select-disabled).mat-accent .mat-select-underline {
  background-color: #ff4081;
}

/* line 1408, ../sass/angular-components.scss */
.mat-select:focus:not(.mat-select-disabled).mat-warn .mat-select-arrow,
.mat-select:focus:not(.mat-select-disabled).mat-warn .mat-select-trigger,
.mat-select:not(:focus).ng-invalid.ng-touched:not(.mat-select-disabled) .mat-select-arrow,
.mat-select:not(:focus).ng-invalid.ng-touched:not(.mat-select-disabled) .mat-select-trigger {
  color: #f44336;
}

/* line 1415, ../sass/angular-components.scss */
.mat-select:focus:not(.mat-select-disabled).mat-warn .mat-select-underline,
.mat-select:not(:focus).ng-invalid.ng-touched:not(.mat-select-disabled) .mat-select-underline {
  background-color: #f44336;
}

/* line 1420, ../sass/angular-components.scss */
.mat-sidenav-container {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}

/* line 1425, ../sass/angular-components.scss */
.mat-sidenav {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}

/* line 1430, ../sass/angular-components.scss */
.mat-sidenav.mat-sidenav-push {
  background-color: #fff;
}

/* line 1434, ../sass/angular-components.scss */
.mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 1438, ../sass/angular-components.scss */
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #e91e63;
}

/* line 1442, ../sass/angular-components.scss */
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(233, 30, 99, 0.5);
}

/* line 1446, ../sass/angular-components.scss */
.mat-slide-toggle:not(.mat-checked) .mat-ripple-element {
  background-color: rgba(0, 0, 0, 0.06);
}

/* line 1450, ../sass/angular-components.scss */
.mat-slide-toggle .mat-ripple-element {
  background-color: rgba(233, 30, 99, 0.12);
}

/* line 1454, ../sass/angular-components.scss */
.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #3f51b5;
}

/* line 1458, ../sass/angular-components.scss */
.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(63, 81, 181, 0.5);
}

/* line 1462, ../sass/angular-components.scss */
.mat-slide-toggle.mat-primary:not(.mat-checked) .mat-ripple-element {
  background-color: rgba(0, 0, 0, 0.06);
}

/* line 1466, ../sass/angular-components.scss */
.mat-slide-toggle.mat-primary .mat-ripple-element {
  background-color: rgba(63, 81, 181, 0.12);
}

/* line 1470, ../sass/angular-components.scss */
.mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #f44336;
}

/* line 1474, ../sass/angular-components.scss */
.mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(244, 67, 54, 0.5);
}

/* line 1478, ../sass/angular-components.scss */
.mat-slide-toggle.mat-warn:not(.mat-checked) .mat-ripple-element {
  background-color: rgba(0, 0, 0, 0.06);
}

/* line 1482, ../sass/angular-components.scss */
.mat-slide-toggle.mat-warn .mat-ripple-element {
  background-color: rgba(244, 67, 54, 0.12);
}

/* line 1486, ../sass/angular-components.scss */
.mat-disabled .mat-slide-toggle-thumb {
  background-color: #bdbdbd;
}

/* line 1490, ../sass/angular-components.scss */
.mat-disabled .mat-slide-toggle-bar {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 1494, ../sass/angular-components.scss */
.mat-slide-toggle-thumb {
  background-color: #fafafa;
}

/* line 1498, ../sass/angular-components.scss */
.mat-slide-toggle-bar {
  background-color: rgba(0, 0, 0, 0.38);
}

/* line 1502, ../sass/angular-components.scss */
.mat-slider-track-background {
  background-color: rgba(0, 0, 0, 0.26);
}

/* line 1506, ../sass/angular-components.scss */
.mat-primary .mat-slider-thumb,
.mat-primary .mat-slider-thumb-label,
.mat-primary .mat-slider-track-fill {
  background-color: #3f51b5;
}

/* line 1512, ../sass/angular-components.scss */
.mat-primary .mat-slider-thumb-label-text {
  color: rgba(255, 255, 255, 0.87);
}

/* line 1516, ../sass/angular-components.scss */
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label,
.mat-accent .mat-slider-track-fill {
  background-color: #ff4081;
}

/* line 1522, ../sass/angular-components.scss */
.mat-accent .mat-slider-thumb-label-text {
  color: #fff;
}

/* line 1526, ../sass/angular-components.scss */
.mat-warn .mat-slider-thumb,
.mat-warn .mat-slider-thumb-label,
.mat-warn .mat-slider-track-fill {
  background-color: #f44336;
}

/* line 1532, ../sass/angular-components.scss */
.mat-warn .mat-slider-thumb-label-text {
  color: #fff;
}

/* line 1536, ../sass/angular-components.scss */
.mat-slider-focus-ring {
  background-color: rgba(255, 64, 129, 0.2);
}

/* line 1540, ../sass/angular-components.scss */
.cdk-focused .mat-slider-track-background,
.mat-slider:hover .mat-slider-track-background {
  background-color: rgba(0, 0, 0, 0.38);
}

/* line 1545, ../sass/angular-components.scss */
.mat-slider-disabled .mat-slider-thumb,
.mat-slider-disabled .mat-slider-track-background,
.mat-slider-disabled .mat-slider-track-fill {
  background-color: rgba(0, 0, 0, 0.26);
}

/* line 1551, ../sass/angular-components.scss */
.mat-slider-disabled:hover .mat-slider-track-background {
  background-color: rgba(0, 0, 0, 0.26);
}

/* line 1555, ../sass/angular-components.scss */
.mat-slider-min-value .mat-slider-focus-ring {
  background-color: rgba(0, 0, 0, 0.12);
}

/* line 1559, ../sass/angular-components.scss */
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb,
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
  background-color: #000;
}

/* line 1564, ../sass/angular-components.scss */
.mat-slider-min-value.mat-slider-thumb-label-showing.cdk-focused .mat-slider-thumb,
.mat-slider-min-value.mat-slider-thumb-label-showing.cdk-focused .mat-slider-thumb-label {
  background-color: rgba(0, 0, 0, 0.26);
}

/* line 1569, ../sass/angular-components.scss */
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  border-color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

/* line 1574, ../sass/angular-components.scss */
.mat-slider-min-value:not(.mat-slider-thumb-label-showing).cdk-focused .mat-slider-thumb,
.mat-slider-min-value:not(.mat-slider-thumb-label-showing):hover .mat-slider-thumb {
  border-color: rgba(0, 0, 0, 0.38);
}

/* line 1579, ../sass/angular-components.scss */
.mat-slider-min-value:not(.mat-slider-thumb-label-showing).cdk-focused.mat-slider-disabled .mat-slider-thumb,
.mat-slider-min-value:not(.mat-slider-thumb-label-showing):hover.mat-slider-disabled .mat-slider-thumb {
  border-color: rgba(0, 0, 0, 0.26);
}

/* line 1584, ../sass/angular-components.scss */
.mat-slider-has-ticks .mat-slider-wrapper::after {
  border-color: rgba(0, 0, 0, 0.7);
}

/* line 1588, ../sass/angular-components.scss */
.mat-slider-horizontal .mat-slider-ticks {
  background-image: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 2px, transparent 0, transparent);
  background-image: -moz-repeating-linear-gradient(0.0001deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 2px, transparent 0, transparent);
}

/* line 1593, ../sass/angular-components.scss */
.mat-slider-vertical .mat-slider-ticks {
  background-image: repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 2px, transparent 0, transparent);
}

/* line 1597, ../sass/angular-components.scss */
.mat-tab-header,
.mat-tab-nav-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/* line 1602, ../sass/angular-components.scss */
.mat-tab-group-inverted-header .mat-tab-header,
.mat-tab-group-inverted-header .mat-tab-nav-bar {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: none;
}

/* line 1608, ../sass/angular-components.scss */
.mat-tab-label:focus {
  background-color: rgba(197, 202, 233, 0.3);
}

/* line 1612, ../sass/angular-components.scss */
.mat-ink-bar {
  background-color: #3f51b5;
}

/* line 1616, ../sass/angular-components.scss */
.mat-tab-label,
.mat-tab-link {
  color: rgba(0, 0, 0, 0.87);
}

/* line 1621, ../sass/angular-components.scss */
.mat-tab-label.mat-tab-disabled,
.mat-tab-link.mat-tab-disabled {
  color: rgba(0, 0, 0, 0.38);
}

/* line 1626, ../sass/angular-components.scss */
.mat-toolbar {
  background: #f5f5f5;
  color: rgba(0, 0, 0, 0.87);
}

/* line 1631, ../sass/angular-components.scss */
.mat-toolbar.mat-primary {
  background: #3f51b5;
  color: rgba(255, 255, 255, 0.87);
}

/* line 1636, ../sass/angular-components.scss */
.mat-toolbar.mat-accent {
  background: #ff4081;
  color: #fff;
}

/* line 1641, ../sass/angular-components.scss */
.mat-toolbar.mat-warn {
  background: #f44336;
  color: #fff;
}

/* line 1646, ../sass/angular-components.scss */
.mat-tooltip {
  background: rgba(97, 97, 97, 0.9);
}

/*DATA PICKER */
/* line 1652, ../sass/angular-components.scss */
body .ic-datepicker .ic-datepicker-header-bar {
  background: #f9cf41;
  color: #302f2b;
}
/* line 1656, ../sass/angular-components.scss */
body .ic-datepicker .ic-datepicker-header-bar .header-title {
  padding-top: 0;
  font-weight: 700;
  background-color: #c3a12d;
}
/* line 1660, ../sass/angular-components.scss */
body .ic-datepicker .ic-datepicker-header-bar .header-title:hover {
  background-color: #c7a01a;
}
/* line 1665, ../sass/angular-components.scss */
body .lv-select.tables .mat-select {
  background-color: #24231f;
  border: 1px #4e4e4e solid;
  height: 44px;
}
/* line 1670, ../sass/angular-components.scss */
body .lv-select.tables .mat-select-trigger {
  height: 42px;
}
/* line 1673, ../sass/angular-components.scss */
body .lv-select.tables .mat-select-value, body .lv-select.tables .mat-select-arrow {
  color: #adadad;
  position: absolute;
  right: 0;
  opacity: 1;
}
@media screen and (max-width: 1350px) {
  /* line 1673, ../sass/angular-components.scss */
  body .lv-select.tables .mat-select-value, body .lv-select.tables .mat-select-arrow {
    right: 15px;
  }
}
@media screen and (max-width: 1250px) {
  /* line 1673, ../sass/angular-components.scss */
  body .lv-select.tables .mat-select-value, body .lv-select.tables .mat-select-arrow {
    right: 0;
  }
}
/* line 1686, ../sass/angular-components.scss */
body .mat-option.mat-selected.mat-primary, body .mat-primary .mat-option.mat-selected {
  color: #f9cf41;
}
/* line 1689, ../sass/angular-components.scss */
body .mat-select-content {
  background: #403f3c;
}
/* line 1692, ../sass/angular-components.scss */
body .mat-option {
  color: #ffffff;
}
/* line 1695, ../sass/angular-components.scss */
body .mat-option:focus:not(.mat-option-disabled), body .mat-option:hover:not(.mat-option-disabled) {
  background: #4f4e4b;
}
/* line 1698, ../sass/angular-components.scss */
body .mat-select-placeholder.mat-floating-placeholder {
  display: none;
}
/* line 1701, ../sass/angular-components.scss */
body .mat-primary .mat-pseudo-checkbox-checked, body .mat-primary .mat-pseudo-checkbox-indeterminate, body .mat-pseudo-checkbox-checked.mat-primary, body .mat-pseudo-checkbox-indeterminate.mat-primary {
  background: #f9cf41;
}
/* line 1704, ../sass/angular-components.scss */
body .mat-pseudo-checkbox::after {
  color: #24231f;
}
/* line 1708, ../sass/angular-components.scss */
body .lv-calendar-filters .mat-select-arrow {
  margin: 0;
  position: absolute;
  right: 0;
}
/* line 1713, ../sass/angular-components.scss */
body .lv-calendar-filters .mat-select {
  background-color: #24231f;
  width: 49.2%;
  margin-left: 1.6%;
  float: left;
}
/* line 1720, ../sass/angular-components.scss */
body .lv-calendar-filters select-filter:first-child .mat-select {
  margin-left: 0;
}
/* line 1724, ../sass/angular-components.scss */
body .lv-calendar-filters .mat-pseudo-checkbox::after {
  color: #24231f;
}
/* line 1727, ../sass/angular-components.scss */
body .lv-calendar-filters .mat-select-value, body .lv-calendar-filters .mat-select-trigger {
  color: #adadad;
}
/* line 1731, ../sass/angular-components.scss */
body .ic-datepicker-container .ic-datepicker .ic-datepicker-header-bar .header-title:not(.year-title):hover, body .ic-datepicker-container .ic-datepicker .ic-datepicker-header-bar .cell.action:hover {
  background: #dab538;
}
/* line 1734, ../sass/angular-components.scss */
body .ic-datepicker .cell.selected {
  background: #f9cf41;
  border: 1px solid #f9cf41;
  color: #302f2b;
  font-weight: 700;
}
/* line 1740, ../sass/angular-components.scss */
body .ic-datepicker .ic-datepicker-header-bar .action {
  color: #302f2b;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  display: inline-block;
}
/* line 1747, ../sass/angular-components.scss */
body .mat-select-arrow {
  top: 19px;
  opacity: 0;
}
/* line 1752, ../sass/angular-components.scss */
body .lv-modal .mat-select {
  margin-bottom: 5px;
  height: 36px;
}
/* line 1757, ../sass/angular-components.scss */
body .cdk-overlay-pane, body .cdk-overlay-container {
  z-index: 10000;
}
/* line 1760, ../sass/angular-components.scss */
body .ic-datepicker .date.today:not(.selected), body .ic-datepicker .date.this-year:not(.selected) {
  color: #302f2b;
  font-weight: 700;
}
/* line 1765, ../sass/angular-components.scss */
body .lv-sidebar-combo .mat-select {
  background-color: #24231f;
  display: table;
  margin-bottom: -10px;
}
/* line 1770, ../sass/angular-components.scss */
body .lv-sidebar-combo .mat-select-value {
  color: #fff;
}
/* line 1773, ../sass/angular-components.scss */
body .lv-sidebar-combo .mat-select-arrow {
  position: absolute;
  top: 16px;
  right: -10px;
  opacity: 1;
}

/* line 1782, ../sass/angular-components.scss */
.mat-autocomplete-panel {
  background: #5d5c5a !important;
}
/* line 1784, ../sass/angular-components.scss */
.mat-autocomplete-panel .mat-option {
  padding: 0 5px 0 26px;
}
/* line 1786, ../sass/angular-components.scss */
.mat-autocomplete-panel .mat-option span.name {
  font-weight: 700;
}
/* line 1789, ../sass/angular-components.scss */
.mat-autocomplete-panel .mat-option span.sports-groups {
  color: #c5c5c5;
}
/* line 1791, ../sass/angular-components.scss */
.mat-autocomplete-panel .mat-option span.sports-groups span {
  padding-right: 5px;
}
/* line 1795, ../sass/angular-components.scss */
.mat-autocomplete-panel .mat-option .fs {
  font-size: 16px;
  position: absolute;
  left: 5px;
  color: #f9cf41;
}
